
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color:rgb(0, 0, 0);
  color: #f1f1f1;
  line-height: 1.6;
}

#about-us {
  padding: 80px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-container {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 15px;
  padding: 40px;
  max-width: 900px;
  text-align: center;
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.h{
   text-align: center;
   color: yellow;
}

.warning-box {
    background: rgba(0, 0, 0, 0.4);          
    color: rgb(255, 255, 255);              
    padding: 15px 20px;
    border-left: 6px solid rgb(170, 168, 32);
    border-radius: 6px;
    font-size: 1.1rem;
    font-family: Arial, sans-serif;
    max-width: 450px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    text-align: center;

}
nav a {
  color: #fff;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

nav a:hover {
  color: #00c3ff;
}


