
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url("backgroundlogin.png");
  background-size: cover;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

header {
  width: 100%;
  background: #111;
  color: #fff;
  padding: 15px 0;
  text-align: center;
  box-shadow: 0 2px 10px rgba(253, 253, 253, 0.4);
}

header h1 {
  margin-bottom: 10px;
}

nav a {
  color: #ffffff;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

nav a:hover {
  color: #b1be34;
}


.login-container {
  background: #000000ee;
  padding: 40px;
  width: 350px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);
  text-align: center;
}

.login-container h2 {
  margin-bottom: 20px;
  color: #b8ae2f;
}


.input-group {
  text-align: left;
  margin-bottom: 15px;
}

.input-group label {
  font-weight: bold;
  color: #c4c131;
}

.input-group input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 2px solid #000000;
  border-radius: 8px;
  font-size: 14px;
  transition: 0.3s;
}

.input-group input:focus {
  border-color: #c3ce26;
  box-shadow: 0 0 8px rgb(192, 189, 32);
}


button {
  width: 100%;
  padding: 12px;
  background: #c2c524;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #004f99;
}

#message {
  margin-top: 10px;
  font-weight: bold;
  color: red;
}
